body {
    text-align: center;
    font-size: 1.5rem;
    background-color: blue;
}

@font-face {
    font-family: 'gyparody';
    src: url('gyparody.ttf') format('truetype');
}

#jep {
    color: #fff;
    font-size: 2rem;
    font-family: gyparody;
}

.add-button, .sub-button {
    font-size: 40px;
    width: 60px;
    height: 60px;
}

.player-container {
    border: 1px solid black;
    display: flex;
    width: 100%;
    background-color: blue;
}

.player {
    font-family: 'Impact';
    text-transform: uppercase;
    border: 1px solid red;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    margin: 2px;
    background-color:rgb(27, 25, 189);
    color: #fff;
    font-weight: bolder;
}

.score {
    font-size: 1.5rem;
}

.addsub {
    font-size:1rem;
}
