html {
    -webkit-tap-highlight-color:transparent;    
}

body {
    text-align: center;
    font-size: 2rem;
    background-color: #FEF200;
    background-image: url('matilda-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 80%;
    margin: 0px;
}

@font-face {
    font-family: 'gyparody';
    src: url('gyparody.ttf') format('truetype');
}

button:active:focus {
    outline: none;
    box-shadow: none;
    user-select: none;
}
button:focus {
    outline: none;
    box-shadow: none; 
    user-select: none;
}

#jep {
    color: #208607;
    font-size: 4rem;
    font-family: gyparody;
    text-shadow: 3px 3px #000;
}

.add-button, .sub-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.player-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    bottom: .8em;
    opacity: .9;
    justify-content: center; 
}

.player {
    width: 15%;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    text-align: center;
    font-size: 2.8rem;
    margin: 5px;
    background-color:rgb(27, 25, 189);
    color: #fff;
    font-weight: bolder;
    height: 3.5em;
}

.playername {
    padding: 10px;
    transform: skew(0deg, -10deg);
}

.score {
    font-size: 3rem;
    font-family: 'Impact';
    border-bottom: 5px solid black;
    text-shadow: 1px 1px #000;
}

.bottom {
    position: fixed;
    top: 0px;
    right: 0px;
}

.refresh {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url('refresh.png');
    background-size: 100%;
    cursor: pointer;
}

#verify {
    position: fixed;
    top: 10px;
    left: 60px;
}

#vtext {
    font-family: schoolbell;
    font-size: .4em;
    visibility: hidden;
}

#addplayer {
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    background: #FEF200;
    cursor: pointer;
}

 input[type="text"] {
    width: 40px;
    border: 1px;
    border-radius: 5px;
    outline: 0;    
    padding: 5px;
}
